#game-area {
    width: 500px;
    height: 500px;
    background-color: #DDD;
    position: absolute;
}
#player {
    position: absolute;
    width: 33px;
    height: 33px;
    z-index: 1;
}

.player-right {
    background-image: url("../img/puyo_right.png");
}

.player-left {
    background-image: url("../img/puyo_left.png");
}

.player-right-dead {
    background-image: url("../img/puyo_right_dead.png");
}

.player-left-dead {
    background-image: url("../img/puyo_left_dead.png");
}

.pipe {
    position: absolute;
    /* width: 320px; */
    /* height: 52px; */
}
