#game-area {
    width: 500px;
    height: 500px;
    background-color: #DDD;
    position: absolute;
}
#player {
    position: absolute;
}

.pipe {
    position: absolute;
    /* width: 320px; */
    /* height: 52px; */
}
